<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCm8G0eRH0NKV6Ii3ku6wtTyF6xj9WcouA</string>
	<key>GCM_SENDER_ID</key>
	<string>627700796408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sonex23.flutterAirplane</string>
	<key>PROJECT_ID</key>
	<string>airplane-66344</string>
	<key>STORAGE_BUCKET</key>
	<string>airplane-66344.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627700796408:ios:a95441fef6aa7b01e9640d</string>
</dict>
</plist>